<section class="register">
  <div class="register-container">
    <div class="register-title register-center">
      <h1>HOLD <span>UP</span></h1>
    </div>
    <div class="register-reg-section">
      <h2>Registrate</h2>
      <label>
        <span>Nombre</span>
        <input type="text">
      </label>
      <label>
        <span>Email</span>
        <input type="email">
      </label>
      <label>
        <span>Contraseña</span>
        <input type="password">
      </label>
      <p class="register-reg-section-alreadylog">¿Ya tienes cuenta? Inicia Sesión</p>
      <button type="button" class="register-reg-section-reg regButton">Registrarse</button>
      <button type="button" class="googleButton">Conecta con <span>Google</span></button>
    </div>
  </div>
</section>

