<section class="main">
  <div class="main-container">
    <div class="main-title main-center">
      <h1>HOLD <span>UP</span></h1>
    </div>
    <div class="main-text main-center">
      <h2>Plataforma de co-creación entre emprendedores socioambientales y ciudadanos para dar solución a un reto específico de un proyecto.</h2>
    </div>
    <div class="main-row">
      <p class="main-text-buttons">¡Comienza Ahora!</p>
      <div class="main-center">
        <button class="main-btn main-btn-emprendedor">Soy Emprendedor</button>
        <button class="main-btn main-btn-ciudadano">Soy Ciudadano</button>
      </div>
    </div>
  </div>
</section>